.body-container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .toggle-container {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
  }



.workoutToggle {
  background-color: #ff0000; /* Replace '#ff0000' with the desired color code */
  color: #ffffff; /* Change the text color if needed */
  border: 1px solid #ff0000; /* Add a border if desired */
  /* Other styles as needed */
}

.workoutToggle:hover {
    background-color: #f73c27;
    border-color: black;
  }