.body-container {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .toggle-container {
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
  }



.workoutToggle {
  background-color: #ff0000; 
  color: #ffffff; 
  border: 1px solid #ff0000; 
 
}

.workoutToggle:hover {
    background-color: #f73c27;
    border-color: black;
  }